    @import url('https://fonts.googleapis.com/css?family=Alegreya:400,700&display=swap');
      #quote-lb{background-color:rgba(0,0,0,0.9);    line-height: 100vh;}
      #quote-lb blockquote{margin:0;}
      #quote-lb img{width:50%;margin:0 auto;}
      .open_modal{display:none;}
      .close_modal{display:none;}
      
      body {background-color: #ede4ce; background-image:url("../img/background.png");font-family: 'Alegreya', sans-serif;    background-repeat: no-repeat;background-size: cover;padding:0;margin: 0;}
      .ampstart-headerbar{max-width: 1200px;margin:20px auto;width:85%;}
      .ampstart-headerbar .div_logo{display:inline-block;}
      .ampstart-headerbar .div_logo svg{fill:#715b35;}
      .ampstart-headerbar .div_superior{display:inline-block;width:calc(100% - 83px);text-align: right;}
      .ampstart-headerbar .div_superior .div_flex div{display:inline-block;color:#715b35;text-align: center;margin:0 0 0 20px;    outline: none;}
      .ampstart-headerbar .div_superior .div_flex div p{margin: 0;text-transform: uppercase;font-size: 15px;}
      .ampstart-headerbar .div_superior .div_flex div a{text-decoration: none;color:#715b35;}


      @media (max-width:690px) {

      }


      #content{text-align: center;}
      /*  SIDEBAR   */
      .ampstart-navbar-trigger{text-align: right;padding: 25px 25px 0 0;outline: none;}
      .ampstart-sidebar-nav .list-reset{list-style: none;padding: 0;margin: 50px 100px 50px 120px;width:35vw;}
      
      .menu-item{font-size:19px;margin:0;position:relative;list-style:none;padding: 0;}
      .menu-item-has-children{margin:10px 0 20px 0;font-weight:600;}
      .menu-item a{color:#705a34;text-decoration: none;}
      
      .menu-item ul{list-style: none;padding: 10px 0 0 40px;position:relative;}
      .menu-item ul li{font-size:15px;font-weight: 100;}
      
        /*     + especies     */
      .menu-item-object-custom{position: absolute; right: 0;bottom: 0;}
      .menu-item-object-custom a{color:#705a34;border:0;border-top: 2px solid #988767;border-bottom: 2px solid #988767;background-color: transparent;padding:10px;outline: none;font-size: 14px;}
      
      
      @media (max-width:40rem){
        .ampstart-sidebar-nav .list-reset{list-style: none;padding: 0;margin: 0px 20px 0 20px;width:70vw;}
        .menu-item-object-custom{position: relative; right: none;bottom: none;margin: 20px 0;}
      }
      .sidebar_footer{margin: 10px 100px;text-align: center;color:#786134;}
      .sidebar_footer p{margin:0;}
      .sidebar_footer a{color:#786134; font-style:italic;text-decoration:none;}
      
      
      .social_sidebar_footer table{margin:10px auto;width: 40%;}
      @media (max-width: 40rem){
          .sidebar_footer{margin:10px 20px 25px 20px;}
      }






        /*    index    */
      .gallery-landing-title{color:#6f5933;font-weight: 100;font-size:3vw;margin:0;}
      .gallery-landing-title:nth-child(2){font-size:2vw;font-style:italic;}
      .gallery-landing-title:nth-child(2) b{font-size:3vw;font-weight: 800;}

      @media (max-width:690px) {
          .gallery-landing-title{font-size: 12vw;}
          .gallery-landing-title:nth-child(2){font-size:7vw;}
          .gallery-landing-title:nth-child(2) b{font-size:10vw;}
      }

      .inactive{opacity:0.1;z-index:-1;}
      .active{z-index: 50 !important;}

      .floating{
        -webkit-transform: translatey(0px);
                transform: translatey(0px);
        -webkit-animation: float 6s ease-in-out infinite;
                animation: float 6s ease-in-out infinite;
      }

      .floating1{
        -webkit-transform: translatey(0px);
                transform: translatey(0px);
        -webkit-animation: float 10s ease-in-out infinite;
                animation: float 10s ease-in-out infinite;
      }

      .floating2{
        -webkit-transform: translatey(0px);
                transform: translatey(0px);
        -webkit-animation: float 8s ease-in-out infinite;
                animation: float 8s ease-in-out infinite;
      }

      .floating3{
        -webkit-transform: translatey(0px);
                transform: translatey(0px);
        -webkit-animation: float 15s ease-in-out infinite;
                animation: float 15s ease-in-out infinite;
      }

      



      @-webkit-keyframes float {
        0% {
          -webkit-transform: translatey(0px);
                  transform: translatey(0px);
        }
        50% {
          -webkit-transform: translatey(-10px);
                  transform: translatey(-10px);
        }
        100% {
          -webkit-transform: translatey(0px);
                  transform: translatey(0px);
        }
      }

      @keyframes float {
        0% {
          -webkit-transform: translatey(0px);
                  transform: translatey(0px);
        }
        50% {
          -webkit-transform: translatey(-10px);
                  transform: translatey(-10px);
        }
        100% {
          -webkit-transform: translatey(0px);
                  transform: translatey(0px);
        }

      }


      .circuloRotate{
        -webkit-animation: circuloRotate 5s ease-in-out infinite;
                animation: circuloRotate 5s ease-in-out infinite;
                transform-origin: 20% 50%;
      }

      @keyframes circuloRotate {
        0% {
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
        }
        50% {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
        }
        100% {
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
        }

      }
      
      
      /*  ---------------------------------------  FLORESTA     ------------------------------------------       */
      .pezconcascoTransform{
            -webkit-animation: pezconcascoTransform 5s cubic-bezier(0.43, -0.01, 1, 1.04) infinite;
                animation: pezconcascoTransform 5s cubic-bezier(0.43, -0.01, 1, 1.04) infinite;
            transform-origin: 50%;
        }
        @keyframes pezconcascoTransform{
            0%{
                transform: rotate(0deg);
            }
            25%{
                transform: rotateZ(5deg);
            }
            50%{
                transform: rotate(0deg);
            }
            75%{
                transform: rotateZ(-5deg);
            }
            100%{
                transform: rotate(0deg);
            }
        }
        .mariposaurioTransform{
            -webkit-animation: mariposaurioTransform 5s cubic-bezier(0.43, -0.01, 1, 1.04) infinite;
                animation: mariposaurioTransform 5s cubic-bezier(0.43, -0.01, 1, 1.04) infinite;
            transform-origin: 50%;
        }
        @keyframes mariposaurioTransform{
            0%{
                transform: translate(0px, 0px)
            }
            50%{
                transform: translate(135px, 0)
            }
            100%{
                transform: translate(0px, 0px)
            }
        }
      .flowerbackTransform{-webkit-animation: flowerbackTransform 5s cubic-bezier(0.43, -0.01, 1, 1.04) infinite;
                animation: flowerbackTransform 5s cubic-bezier(0.43, -0.01, 1, 1.04) infinite;
            transform-origin: 65%;
        }
        @keyframes flowerbackTransform{
            0%{
                transform: scale(1)
            }
            50%{
                transform: scale(0.5)
            }
            100%{
                transform: scale(1)
            }
        }
        .flowerhistoriaTransform{-webkit-animation: flowerhistoriakTransform 5s cubic-bezier(0.43, -0.01, 1, 1.04) infinite;
                animation: flowerhistoriakTransform 5s cubic-bezier(0.43, -0.01, 1, 1.04) infinite;
            transform-origin: 60%;
        }
        @keyframes flowerhistoriakTransform{
            0%{
                transform: scale(0.5)
            }
            50%{
                transform: scale(1)
            }
            100%{
                transform: scale(0.5)
            }
        }
        
      
      
      
      
       /*  ---------------------------------------  pantano     ------------------------------------------       */
       .mariposaTransform{-webkit-animation: mariposaTransform 5s ease-in-out infinite;
                animation: mariposaTransform 5s ease-in-out infinite;
                transform-origin: 100% 100%;
      }
      @keyframes mariposaTransform{
        0% {
          transform: rotate(0deg) scale(0.5) translate(-100px,-100px);
        }
        45% {
          transform: rotate(-15deg) scale(1.2) translate(80px,0px);
        }
        100% {
          transform: rotate(0deg) scale(0.5) translate(-100px,-100px);
        }
      }
        .plantaranaTransform{-webkit-animation: plantaranaTransform 10s ease-in-out infinite;
                animation: plantaranaTransform 10s ease-in-out infinite;
                transform-origin: 35% 100%;
      }
      @keyframes plantaranaTransform{
        0% {
          transform: rotate(0deg);
        }
        25% {
          transform: rotate(-2.5deg);
        }
        50% {
          transform: rotate(0deg);
        }
        75% {
          transform: rotate(2.5deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
      
      .cabezacocodriloTransform{
            -webkit-animation: cabezacocodriloTransform 10s ease-in-out infinite;
                animation: cabezacocodriloTransform 10s ease-in-out infinite;
                transform-origin: 35% 100%;
      }
      @keyframes cabezacocodriloTransform{
        0% {
          transform: rotate(0deg);
        }
        25% {
          transform: rotate(-2.5deg);
        }
        50% {
          transform: rotate(0deg);
        }
        75% {
          transform: rotate(2.5deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
      
      .ranaGrandeTransform{
          -webkit-animation: ranaGrandeTransform 3s ease-in-out infinite;
                animation: ranaGrandeTransform 3s ease-in-out infinite;
                /*transform-origin: 50%;*/
                transform-origin: 25% 50%;
      }
        @keyframes ranaGrandeTransform{
        0% {
          transform: skew(0deg, 0deg);
        }
        25% {
          transform: skew(0deg, 1deg);
        }
        50% {
          transform: skew(0deg, 0deg);
        }
        75% {
          transform: skew(0deg, 1deg);
        }
        100% {
          transform: skew(0deg, 0deg);
        }
      }
      .ranitaarribaTransform{
          -webkit-animation: ranitaarribaTransform 3s ease-out infinite;
                animation: ranitaarribaTransform 3s ease-out infinite;
                transform-origin: 25% 50%;
                offset-path: path('M313.5,437.1S385.8-37,520,376');
                offset-distance: 0%;
                offset-rotate: -5deg;
      }
        @keyframes ranitaarribaTransform{
          /*  from {*/
          /*  offset-distance: 0%;*/
          /*}*/
          /*to {*/
          /*  offset-distance: 100%;*/
          /*}*/
        0%{opacity: 1;
    offset-distance: 0%;}
        80%{opacity: 0.7;
    offset-distance: 80%;}
        90%{opacity: 0.5;
    offset-distance: 100%;
    z-index: 1;}
        100%{ opacity: 0;  
    offset-distance: 100%;
    z-index: -1;}
      }
      
      .lagartijacascoTransform{
          -webkit-animation: lagartijacascoTransform 5s cubic-bezier(0.43, -0.01, 1, 1.04);
                animation: lagartijacascoTransform 5s cubic-bezier(0.43, -0.01, 1, 1.04);
                transform-origin: 40% 46%;
      }
        @keyframes lagartijacascoTransform{
        0%{
          transform: scale(0.5) translate(-280px, 170px) rotate(-10deg)
        }
        25%{
          transform: scale(0.8) translate(-107px, 25px) rotate(-6deg)
        }
        75%{
          transform: scale(0.9) translate(-10px, 10px) rotate(-1deg)
        }
        100%{
          transform: scale(1.0) translate(0px, 0px) rotate(0deg)
        }
      }
      
        .plantaposaTransform{
          -webkit-animation: plantaposaTransform 15s cubic-bezier(0.43, -0.01, 1, 1.04) infinite;
                animation: plantaposaTransform 15s cubic-bezier(0.43, -0.01, 1, 1.04) infinite;
          transform-origin: 80% 77%;
        }
        @keyframes plantaposaTransform{
            0%{
                transform: scale(1) rotate(0deg);
            }
            25%{
                transform: scale(1) rotate(12deg);
            }
            50%{
                transform: scale(1) rotate(0deg);
            }
            75%{
                transform: scale(1) rotate(-12deg);
            }100%{
                transform: scale(1) rotate(0deg);
            }
        }
     
      /*  ---------------------------------------  PROFUNDIDADES     ------------------------------------------       */
      .pezRotate{
        -webkit-animation: pezRotate 2.5s ease-in-out infinite;
                animation: pezRotate 2.5s ease-in-out infinite;
                transform-origin: 80%;
      }

      @keyframes pezRotate{
        0% {
          transform: rotate(0);
        }
        50% {
          transform: rotate(10deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }

      .medusaScale{
        -webkit-animation: medusaScale 5s ease-in-out infinite;
                animation: medusaScale 5s ease-in-out infinite;
                transform-origin: 50%;
      }

      @keyframes medusaScale{
        0% {
          transform: scale(1) ;
        }
        50% {
          transform: scale(0.9);
        }
        100% {
          transform:  scale(1);
        }
      }


      .pulpo2Transform{
        -webkit-animation: pulpo2Transform 3s ease-in-out infinite;
                animation: pulpo2Transform 3s ease-in-out infinite;
                transform-origin: 50%;
      }
      @keyframes pulpo2Transform{
        0% {
          transform: rotateX(0deg) SCALEY(0.9) ;
        }
        50% {
          transform: rotateX(-4deg) SCALEY(1.2);
        }
        100% {
          transform:  rotateX(0deg) SCALEY(0.9);
        }
      }


      .planta2Transform{
        -webkit-animation: planta2Transform 1.5s ease-in-out infinite;
                animation: planta2Transform 1.5s ease-in-out infinite;
                transform-origin: 55% 41%;
      }
      @keyframes planta2Transform{
        0% {
          transform: rotate(0deg) ;
        }
        50% {
          transform: rotate(15deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }

      .planta3Transform{
        -webkit-animation: planta3Transform 1.5s ease-in-out infinite;
                animation: planta3Transform 1.5s ease-in-out infinite;
                transform-origin: 50% 40%;
      }
      @keyframes planta3Transform{
        0% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(-15deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
      
      /*    BITACORA            */
      .tentaculoAni{
        -webkit-animation: tentaculoAni 3s ease-in-out infinite;
                animation: tentaculoAni 3s ease-in-out infinite;
                transform-origin: 50% 50%;
      }
     @keyframes tentaculoAni{
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(0.7);
        }
        100% {
          transform: scale(1);
        }
      }

      .tentaculoRotate{
        -webkit-animation: tentaculoRotate 3s ease-in-out infinite;
                animation: tentaculoRotate 3s ease-in-out infinite;
                transform-origin: 65% 70%;
      }

      @keyframes tentaculoRotate{
        0% {
          transform: rotate(0);
        }
        50% {
          transform: rotate(10deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }

      .circuloScale{
        -webkit-animation: circuloScale 1s ease-in-out infinite;
                animation: circuloScale 1s ease-in-out infinite;
                transform-origin: 50% 50%;
      }

      @keyframes circuloScale{
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(0.7);
        }
        100% {
          transform: scale(1);
        }
      }

      .flautaScale0{
        -webkit-animation: flautaScale 4s ease-in-out infinite;
                animation: flautaScale 4s ease-in-out infinite;
                transform-origin: 100% 0;
      }

      .tijerasScale{
        -webkit-animation: flautaScale 3.5s ease-in-out infinite;
                animation: flautaScale 3.5s ease-in-out infinite;
                transform-origin: 100% 0;
      }

      .flautaScale1{
        -webkit-animation: flautaScale 3s ease-in-out infinite;
                animation: flautaScale 3s ease-in-out infinite;
                transform-origin: 100% 0;
      }

      .flautaScale2{
        -webkit-animation: flautaScale 2.5s ease-in-out infinite;
                animation: flautaScale 2.5s ease-in-out infinite;
                transform-origin: 100% 0;
      }
      .flautaScale3{
        -webkit-animation: flautaScale 2s ease-in-out infinite;
                animation: flautaScale 2s ease-in-out infinite;
                transform-origin: 100% 0;
      }

      @keyframes flautaScale{
        0% {
          transform: scale(1) translate(0,0);
        }
        50% {
          transform: scale(0.7) translate(-15%, 35%);
        }
        100% {
          transform: scale(1) translate(0,0);
        }
      }

      .manoTransform{
        -webkit-animation: manoTransform 3s ease-in-out infinite;
                animation: manoTransform 3s ease-in-out infinite;
                transform-origin: 50%;
      }

      @keyframes manoTransform{
        0% {
          transform: scale(1) translate(0,0) rotate(0deg);
        }
        50% {
          transform: scale(0.5) translate(15%, 14%) rotate(20deg);
        }
        100% {
          transform: scale(1) translate(0,0) rotate(0deg);
        }
      }

      .alaTransform{
        -webkit-animation: alaTransform 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
                animation: alaTransform 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
                transform-origin: 30% 30%;
      }

      @keyframes alaTransform{
        0% {
          transform: scale(1) rotateZ(0deg);
        }
        50% {
          transform: scale(-1,1) rotateZ(-90deg);
        }
        100% {
          transform: scale(1) rotateZ(0deg);
        }
      }
      
     

      /*  CAROUSEL    */
      .carousel_container{position: relative;width:1200px;height:70vh;}
      @media (max-width: 470px){.carousel_container{width:550px;height:35vh;}}

      .carousel_container_img{position: absolute; transition: all 1200ms ease-out;margin:0;}
      .carousel_container_img:nth-child(1){top:2%;left:0%;border:0px solid red;z-index:1;}
      .carousel_container_img:nth-child(2){bottom:0%;left:0%;border:0px solid blue;z-index:10;}
      .carousel_container_img:nth-child(3){top:5%;left:30%;border:0px solid green;z-index:5;}
      .carousel_container_img:nth-child(4){bottom:0%;right:5%;border:0px solid cyan;z-index:10;}
      .carousel_container_img:nth-child(5){top:10%;right:0%;border:0px solid cyan;z-index:1;}

      /*  controls    */
      .amp-carousel-button{background-color:#fff;box-shadow:-10px 0 20px rgba(0,0,0,.12);border-radius:0;width:50px;height:89px;cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0)}
      .amp-carousel-button:hover{background-color:#ff0}
      .amp-carousel-button:focus{outline:none}
      .amp-carousel-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath d='M9 3L7.94 4.06l4.19 4.19H3v1.5h9.13l-4.19 4.19L9 15l6-6z'/%3E%3C/svg%3E");right:0}
      .amp-carousel-button-prev{left:0;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath d='M15 8.25H5.87l4.19-4.19L9 3 3 9l6 6 1.06-1.06-4.19-4.19H15v-1.5z'/%3E%3C/svg%3E")}
      @media (max-width:40rem){
        .amp-carousel-button{position:fixed;top:auto;bottom:0;transform:none;width:55px;height:55px}
      }



      /*figcaption*/
      .carousel_container_img_caption {position: absolute;top: 1.5vh;left: calc(6% - 2.5vh);z-index: 40; padding: .7em 1.2em;box-shadow: 0.5rem 2rem 4rem rgba(0,0,0,.3);color:#6f5933; background: #efe9d3;  font-size: .8em; line-height: 1.35;transform: scale(.8) rotateX(0deg);transition: all .25s ease-in-out;opacity: 0;}
      .carousel_container_img:nth-child(3) .carousel_container_img_caption {left:unset;right: calc(-6% - 2.5vh);}
      .carousel_container_img_caption a{color:#6f5933;text-decoration:none;}
      .showCaption{
        opacity: 1;
        transform:scale(1) ;
      }


      .button_container{max-width: 1200px;margin:50px auto;width:85%;}
      .button_container div{display: inline;margin:10px ;}
      .button_container .btn{max-width: 250px;color:#715b35;padding:10px;width:85%;}
      .button_container .btn_about{border:0;border-top:2px solid #988767;border-bottom:2px solid #988767;color:#988767;background-color:transparent;}
      .button_container .btn_libro{border:0;background-color:#988767;color:#fff;}
        @media (max-width:40rem){
          .button_container div{display: block;}
        }



        footer{background-color: #464746;padding:40px 50px;}
        .social_container{text-align: center;}
        .text_footer{text-align: center;color:#f7f2df;}
        .text_footer a{text-decoration:none;color:#f7f2df;}