 @import url('https://fonts.googleapis.com/css?family=Alegreya:400,700&display=swap');
      body {background-color: #ede4ce; background-image:url("../img/background.png");font-family: 'Alegreya', sans-serif; font-weight: 400;   background-repeat: no-repeat;background-size: cover;padding:0;margin: 0;}
      .container{max-width:960px;margin:0 auto;width:100%;}
      @media (max-width:40rem){
           .container{padding:0 20px;width:80%;}
      }
      .ampstart-headerbar{max-width: 1200px;margin:20px auto;width:85%;position: relative;}
      .ampstart-headerbar .div_logo{display:inline-block;}
      .ampstart-headerbar .div_logo svg, .ampstart-headerbar .div_logo p{display:inline-block;}
      .ampstart-headerbar .div_logo p{color:#705a34;font-size: 2vw;margin: 0;}
      .ampstart-headerbar .div_logo p i{font-size: 1.4vw;}
      .ampstart-headerbar .div_superior{position:absolute;top:0;right:0;}
      .ampstart-headerbar .div_superior .div_flex div{display:inline-block;color:#715b35;text-align: center;margin:0 0 0 20px;    outline: none;}
      .ampstart-headerbar .div_superior .div_flex div p{margin: 0;text-transform: uppercase;font-size: 15px;}
      .ampstart-headerbar .div_superior .div_flex div a{text-decoration: none;color:#715b35;}


      @media (max-width:690px) {
        .ampstart-headerbar .div_logo p{display: none;}
        /*.ampstart-headerbar .div_superior{width:calc(100% - 75px);}*/
      }


      #content{text-align: center;background-image: url(../img/background_2.png);background-repeat: repeat;background-size: 100%;position: relative;}
       /*  SIDEBAR   */
      .ampstart-navbar-trigger{text-align: right;padding: 25px 25px 0 0;outline: none;}
      .ampstart-sidebar-nav .list-reset{list-style: none;padding: 0;margin: 50px 100px 50px 120px;width:35vw;}
      
      .menu-item{font-size:19px;margin:0;position:relative;list-style:none;padding: 0;}
      .menu-item-has-children{margin:10px 0 20px 0;font-weight:600;}
      .menu-item a{color:#705a34;text-decoration: none;}
      
      .menu-item ul{list-style: none;padding: 10px 0 0 40px;position:relative;}
      .menu-item ul li{font-size:15px;font-weight: 100;}
      
        /*     + especies     */
      .menu-item-object-custom{position: absolute; right: 0;bottom: 0;}
      .menu-item-object-custom a{color:#705a34;border:0;border-top: 2px solid #988767;border-bottom: 2px solid #988767;background-color: transparent;padding:10px;outline: none;font-size: 14px;}
      
      
      @media (max-width:40rem){
        .ampstart-sidebar-nav .list-reset{list-style: none;padding: 0;margin: 0px 20px 0 20px;width:70vw;}
        .menu-item-object-custom{position: relative; right: none;bottom: none;margin: 20px 0;}
      }
      .sidebar_footer{margin: 10px 100px;text-align: center;color:#786134;}
      .sidebar_footer p{margin:0;}
      .sidebar_footer a{color:#786134; font-style:italic;text-decoration:none;}
      
      
      .social_sidebar_footer table{margin:10px auto;width: 40%;}
      @media (max-width: 40rem){
          .sidebar_footer{margin:10px 20px 25px 20px;}
      }






        /*    index    */
      .breaker{    border-top: 1px solid transparent;}
        
        
      #pagination_container {text-align: left;}
      #pagination_container p{margin: 0;}
      #pagination_container .categorie_name a{color:#45433e;font-size: 14px;font-weight: 700;text-decoration:none;text-transform:uppercase;}
      #pagination_container .description{color:#3e3d3d;font-size: 16px;}
      #pagination_container .name_{color:#705a34;font-size: 27px;font-weight: 500;    margin: 5px 0;}
      #pagination_container .btn_explorar{color:#8f7e5e;font-size: 14px;border:0;border-top:1px solid #8f7e5e;border-bottom:1px solid #8f7e5e;background:transparent;padding:8px 5px;margin: 6px 0;}

      #pagination_container .item_breaker{border-top:2px solid #cbc5ba;margin:2em 0;}

        .pagination-wrap{text-align: center;padding:  40px 0;}
        .pagination{list-style: none;text-align: center;overflow: hidden;    display: inline-block;}
        .pagination li{float:left;background-color: #c8c8c8;color:#464746;width:35px;height:35px;border-radius: 35px;line-height: 35px;font-size: 18px;font-weight: 500;margin:0 15px;}
        .pagination li a{text-decoration:none;color:#464746;}
        .pagination .active{background-color:#988767;color:#fff;}

          #container_subir{position: relative;width:80%;margin:0 auto;}
          .subir_container{position: fixed;bottom:0;right:20px;opacity:0;text-align:center;}
          .subir_container:hover{cursor:pointer;}
          .subir_container p{color:#715b35;font-size: 15px;}
            .visible{animation: visibleUp 1s;opacity:1;}
            
            @keyframes visibleUp {
              0% {
                opacity:0;
              }
              100% {
                opacity:1;
              }
            }
            

        footer{background-color: #464746;padding:40px 50px;}
        .social_container{text-align: center;}
        .text_footer{text-align: center;color:#f7f2df;}
        .text_footer a{text-decoration:none;color:#f7f2df;}