       body {background-color: #ede4ce; background-image:url("../img/background.png");font-family: 'Alegreya', sans-serif; font-weight: 400;   background-repeat: no-repeat;background-size: cover;padding:0;margin: 0;}
      @media (max-width:40rem){
           .container{padding:0 20px;width:80%;}
      }
      .ampstart-headerbar{max-width: 1200px;margin:20px auto;width:85%;position: relative;}
      .ampstart-headerbar .div_logo{display:inline-block;}
      .ampstart-headerbar .div_logo svg, .ampstart-headerbar .div_logo p{display:inline-block;}
      .ampstart-headerbar .div_logo p{color:#705a34;font-size: 2vw;margin: 0;}
      .ampstart-headerbar .div_logo p i{font-size: 1.4vw;}
      .ampstart-headerbar .div_superior{position:absolute;top:0;right:0;}
      .ampstart-headerbar .div_superior .div_flex div{display:inline-block;color:#715b35;text-align: center;margin:0 0 0 20px;    outline: none;}
      .ampstart-headerbar .div_superior .div_flex div p{margin: 0;text-transform: uppercase;font-size: 15px;}
      .ampstart-headerbar .div_superior .div_flex div a{text-decoration: none;color:#715b35;}


      @media (max-width:690px) {
        .ampstart-headerbar .div_logo p{display: none;}
        /*.ampstart-headerbar .div_superior{width:calc(100% - 75px);}*/
      }


      #content{text-align: center;background-image: url(../img/background_2.png);background-repeat: repeat;background-size: 100%;position: relative;}
      /*  SIDEBAR   */
      .ampstart-navbar-trigger{text-align: right;padding: 25px 25px 0 0;outline: none;}
      .ampstart-sidebar-nav .list-reset{list-style: none;padding: 0;margin: 50px 100px 50px 120px;width:35vw;}
      
      .menu-item{font-size:19px;margin:0;position:relative;list-style:none;padding: 0;}
      .menu-item-has-children{margin:10px 0 20px 0;font-weight:600;}
      .menu-item a{color:#705a34;text-decoration: none;}
      
      .menu-item ul{list-style: none;padding: 10px 0 0 40px;position:relative;}
      .menu-item ul li{font-size:15px;font-weight: 100;}
      
        /*     + especies     */
      .menu-item-object-custom{position: absolute; right: 0;bottom: 0;}
      .menu-item-object-custom a{color:#705a34;border:0;border-top: 2px solid #988767;border-bottom: 2px solid #988767;background-color: transparent;padding:10px;outline: none;font-size: 14px;}
      
      
      @media (max-width:40rem){
        .ampstart-sidebar-nav .list-reset{list-style: none;padding: 0;margin: 0px 20px 0 20px;width:70vw;}
        .menu-item-object-custom{position: relative; right: none;bottom: none;margin: 20px 0;}
      }
      .sidebar_footer{margin: 10px 100px;text-align: center;color:#786134;}
      .sidebar_footer p{margin:0;}
      .sidebar_footer a{color:#786134; font-style:italic;text-decoration:none;}
      
      
      .social_sidebar_footer table{margin:10px auto;width: 40%;}
      @media (max-width: 40rem){
          .sidebar_footer{margin:10px 20px 25px 20px;}
      }
       /*   FOOTER      */
        footer{background-color: #464746;padding:40px 50px;}
        .social_container{text-align: center;}
        .text_footer{text-align: center;color:#f7f2df;}
        .text_footer a{text-decoration:none;color:#f7f2df;}
       
       
       /*    POST    */
      .content-area{margin:2rem 0;}
      
      .simplesocialbuttons.simplesocial-round-icon button.simplesocial-fb-share{border-color:transparent;}
      .simplesocialbuttons.simplesocial-round-icon button.simplesocial-twt-share{border-color:transparent;}
      .simplesocialbuttons.simplesocial-round-icon button.simplesocial-linkedin-share{border-color:transparent;}
      .simplesocialbuttons.simplesocial-round-icon button.simplesocial-whatsapp-share{border-color:transparent;}
      
      .tags_container{margin:0 10px;list-style: none;display: block;padding: 0;overflow: hidden;}
      .tags_container li{padding:1rem;margin:0 1rem;background-color:#705a34;transition:all 300ms ease-in;float:left;}
      .tags_container li a{color:#fff;text-decoration:none;}
      .tags_container li:hover{padding:1rem;background-color:#fff;}
      .tags_container li:hover a{color:#705a34;}
      
      #single_paging #next{text-align:right;}
      @media (max-width: 40rem){
         #single_paging #next{text-align:left;} 
      }
      
      .comment-respond form{width:100%;}
      .comment-respond form .logged-in-as a{color:#45433e;}
      .comment-respond form textarea{width:calc(100% - 20px);resize:none;border:0;border-bottom: 1px solid #464746;     border-left: 1px solid #464764; background-color:transparent;color:#464746;outline:none;padding:10px;}
      .comment-respond form input[type="submit"]{border-top:1px solid #978766;border-bottom:1px solid #978766;border-right:1px solid transparent;border-left:1px solid transparent;color:#978766;background-color:transparent;transition:all ease-in 300ms;height:30px;}
      .comment-respond form input[type="submit"]:hover{cursor:pointer;border-top:1px solid transparent;border-bottom:1px solid transparent;border-right:1px solid #978766;border-left:1px solid #978766;}
      
      .comment-respond form input[type="text"]{border:0;border-bottom: 1px solid #464746;    border-left: 1px solid #464764; width: calc(100% - 20px); background-color:transparent; padding: 10px; color: #464746;}
      .comment-respond form input[type="email"]{border:0;border-bottom: 1px solid #464746;    border-left: 1px solid #464764; width: calc(100% - 20px); background-color:transparent; padding: 10px; color: #464746;}
      
      
      .commentlist{}
      .commentlist .reply a{color:#978766;font-style: italic;}
      
      /*    sidebar POST    */
      .sidebar_button{display:none;}
      .sidebar_button button{border:0;width:25px;height:25px;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(200,201,200,1);
        -moz-box-shadow: 5px 5px 5px 0px rgba(200,201,200,1);
        box-shadow: 5px 5px 5px 0px rgba(200,201,200,1);}
        .widget-content{margin:1em;}
      @media (max-width: 40rem){
          .sidebar_button{position:fixed;top:10em;right:0;display:block;}
          #no-responsive{display:none;}
      }
        .sidebar_button i {
          border: solid black;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
        }
        
        .sidebar_button .right {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
        
        .sidebar_button .left {
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }